@model FirstMVCApp.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow m-auto w-75">
    <div class="card-header bg-danger text-center fw-bold d-flex">
        <div class="flex-grow-1 fs-4 text-white">
            Are you sure you want to delete this?
        </div>
        <div>
            <a asp-action="Index" class="btn btn-lg btn-secondary">Back To List</a>
        </div>
    </div>
    <div class="card-body ">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ProductId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UnitsInStock)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Discontinued)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Discontinued)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" value="@Model.ProductId" name="id" id="id"/>
            <input type="submit" value="Delete" class="btn btn-danger" />
            
        </form>
    </div>

</div>
